@font-face {
    font-family: ChunkFive;
    src: url("ChunkFive-Regular.otf") format("opentype");
}

body {
    display: flex;
    
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar {
    display: flex;
    width: 40%;
    height: 100vh;
    position: relative;
}

.sidebar img {
    width: 100%; 
    height: 100%; 
    
}

#credit {
    position: absolute;
    bottom: 1vh;
    left: 1vh;
    
}